<!doctype html>
<html>

<head>
    <title>The Grove | About</title>
    <link rel='icon' href='/img/favicon.ico'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
    <%- include book %>
        <script src='//code.jquery.com/jquery-1.7.2.min.js'></script>
        <script src='/js/vendor/turn.min.js'></script>
        <script type="text/javascript">
            $("#flipbook").turn({
                width: 800,
                height: 600,
                autoCenter: true
            });
            $("#flipbook").bind("turned", function(event, page, view) {
                if (page == 1) {
                    history.pushState(null, 'home', '/');
                    document.title = 'The Grove';
                }
                if (page == 2 || page == 3) {
                    history.pushState(null, 'about', '/about');
                    document.title = 'The Grove | About';
                }
                if (page == 4 || page == 5) {
                    history.pushState(null, 'login', '/login');
                    document.title = 'The Grove | Login';
                }
                if (page == 6) {
                    history.pushState(null, 'register', '/register');
                    document.title = 'The Grove | Register';
                }
            });
            $(document).ready(function() {
                $("#flipbook").turn('next');
            });
        </script>
</body>
