<!doctype html>
<html>
    <head>
        <title>Login | The Grove</title>
    </head>
    <body>
        <form action='/login' method='post'>
            <input name='username'>
            <input name='password' type='password'>
            <input type='submit'>
        </form>
    </body>
</html>