<!doctype html>
<html>

<head>
    <link rel='stylesheet' href='https://play.grove-mmo.com/css/login-weebly.css'>
</head>

      <form method='post' action='https://play.grove-mmo.com/login' style='margin: 50px'>
        <br><br><br><br><br><br><br><br>
        <input name='username' placeholder='Username' type='text' class='validate'>
        <input name='password' placeholder='Password' type='password'>
        <input type='submit' class='waves-effect waves-light btn-large red z-depth-3' value='Login'>
      </form>
