<!doctye html>
<html>

<head>
    <title>The Grove</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel='stylesheet' href='/css/play.css'>
</head>

<body>
    <div id="blocker">

        <div id="instructions">
            <img src='/assets/img/loader.gif'>
        </div>

    </div>
    
    <img id='crosshair' src='/assets/img/crosshair/crosshair.png' width=30>

    <div id='gui'>
        <h3 id='gui-title'>[ loading ]</h3>
        <hr id='gui-hr'>
        <div id='gui-content'>[ loading ]</div>
        <div id='gui-buttons'>
            <button class='btn' onclick='$("#gui").fadeOut(400)'>Sounds Good</button>
            <button class='btn' onclick='$("#gui").fadeOut(400)'>Close</button>
        </div>
    </div>

    <div id='hud'>
        <p id='hp'>[ loading ]</p>
    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src='/js/vendor.min.js'></script>
    <script src='/js/main.min.js'></script>
</body>

</html>
